
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   box-sizing: border-box;
   background-color: black;
   color: white;

}

strong {
   color: rgb(245, 101, 190);
}
.elemento-pai {
   margin: 10% 15%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 100px;
}

.apresentacao__conteudo {
   width: 615px;
   display: flex;
   flex-direction: column;
   gap: 40px;
   
}

.apresentacao__titulo {
   font-size: 36px;
   font-family: "Kanit", sans-serif;
   font-weight: 400;
}

.apresentacao__paragrafo {
   font-size: 24px;
   font-family: "Kanit", sans-serif;
   font-weight: 200;
}
.apresentacao__botoes {
   display: flex;
   justify-content: space-between;
}

.apresentacao__link {
   background-color:rgb(245, 101, 190);
   width: 280px;
   text-align: center;
   border-radius: 16px;
   font-size: 24px;
   padding: 21.5px 0;
   text-decoration: none;
   color: black;
   font-family: "Kanit", sans-serif;
   font-weight: 400;

}

.imagem {
   width: 600px;
   height: 720px;
}