
.foto_app{
    clear: both;
    float: right;
    width: 150px;
    margin-right: 10%;}
.clear{clear: both;}
.montagem_fotos{float: left;margin-left: 10%;}
.cor_fundo_meio{background-color:  #B7E2F4;}
.foto_teleconsulta_app{float: left;margin-left: 10%;}
.cor_fundo{margin-top: 25%;}
.centralizar{margin: 0 auto;text-align: center;}
.logo_facilitareabi{
    float: right;
    margin-right: 10%;
    width: 200px;}
p{margin-right: 30px; }
@media (max-width:600px){
    .foto_app{
        clear: both;
        float: right;
        width: 120px;
        margin-right: 2%;}    
    .montagem_fotos{
        margin-left: 1%;
        width: 350px;}
    .foto_teleconsulta_app{
        float: left;
        margin-left: 1%;
        width: 350px;}
    .logo_facilitareabi{
        float: right;
        margin-right: 1%;
        width: 200px;}
    .faq p,
    .faq li {font-size: 32px; line-height: 1.5; }
    .app p,
    .app li {font-size: 32px;line-height: 1.5; }
    .foto_integrantes img{
        border-radius: 250px;
        width: 300px;
        display: block;
        margin: 0 auto;
        max-width: 600px;}}
@media (min-width:600px) {
    .foto_app{
        clear: both;
        float: right;
        width: 120px;
        margin-right: 2%;}
    .montagem_fotos{
        float: left;
        margin-left: 1%;
        width: 640px;}
    .foto_teleconsulta_app{
        float: left;
        margin-left: 1%;
        width: 640px;}
    .logo_facilitareabi{
        float: right;
        margin-right: 1%;
        width: 250px;}
    .cor_fundo{margin-top: 25%;}
    p,li {font-size: 32px; line-height: 1.5; }
    h2{font-size: 32px;}
    .foto_integrantes img{
        border-radius: 250px;
        width: 600px;
        display: block;
        margin: 0 auto;}}
@media (min-width:768px){
    .foto_app{
        clear: both;
        float: right;
        width: 180px;
        margin-right: 2%;}
    .montagem_fotos{
        float: left;
        margin-left: 1%;
        width: 640px;}
    .foto_teleconsulta_app{
        float: left;
        margin-left: 1%;
        width: 420px;}
    .logo_facilitareabi{
        float: right;
        margin-right: 1%;
        width: 300px;}
    .cor_fundo{margin-top: 25%;}
    p,li {font-size: 40px; line-height: 1.5; }
    h2{font-size: 40px;}
    .foto_integrantes img{
        border-radius: 250px;
        width: 700px;
        display: block;
        margin: 0 auto;}}
@media (min-width:992){
    .foto_app{
        clear: both;
        float: right;
        width: 180px;
        margin-right: 2%;}
    img.montagem_fotos{
        float: left;
        margin-left: 1%;
        width: 640px;}
    .foto_teleconsulta_app{
        float: left;
        margin-left: 1%;
        width: 620px;}
    .logo_facilitareabi{
        float: right;
        margin-right: 1%;
        width: 350px;}
    .cor_fundo{width: 100%;}
    p,li {font-size: 40px; line-height: 1.5; }
    h2{font-size: 40px;}
    .foto_integrantes img{
        border-radius: 250px;
        width: 900px;
        display: block;
        margin: 0 auto;}}
@media (min-width:1300){
    .foto_app{
        clear: both;
        float: right;
        width: 300px;
        margin-right: 2%;}
    .montagem_fotos{
        float: left;
        margin-left: 1%;
        width: 640px;}
    .foto_teleconsulta_app{
        float: left;
        margin-left: 1%;
        width: 700px;}
    .logo_facilitareabi{
        float: right;
        margin-right: 1%;
        width: 400px;}
    .cor_fundo{width: 100%;}
    p,li {font-size: 54px; line-height: 1.5; }
    h2{font-size: 54px;}
    .foto_integrantes img{
        border-radius: 250px;
        width: 300px;
        display: block;
        margin: 0 auto;}}
    /*js*/
form#formContato,
form#formTriagem {font-size: 2.8rem;line-height: 2;}
form#formContato label,
form#formTriagem label {font-size: 2.8rem;}
input,textarea,select {font-size: 2.8rem;}
form#formContato button,
form#formTriagem button {font-size: 2.8rem;}
.erro {font-size: 2rem;}
label, select {
  display: block;
  margin-bottom: 10px;}