body {
    background-image: url('../img/planeta-terra-fotorrealista.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;}
.corpo {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 1.5em;}
.corpo h2 {
    font-size: 2.5em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);}
.corpo h3 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);}
.corpo h4 {
    font-size: 1.7em;
    margin-bottom: 0.4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);}
.corpo div {font-size: 1em;margin-bottom: 1em;}
.corpo p {font-size: 1em;margin: 0.5em 0;}
